@import 'mixin';


@media screen and (max-width: 980px) {
  .menu{
    display: none;
  }
  .header-logo{
    width: (304rem/16) !important;
  }
  .mobile-btn,.home-btn{
    display: block;
    float: left;
  }
  .mobile-btn{
    margin: 25px 10px 0 10px;
  }

}

@media screen and (max-width: 433px) {

.lang,.social-small{
  display: none;
}
  .header-logo{
    width:100% !important;
  }
  .mobile-btn{
    margin: 25px 10px 0 10px;
  }

}