@font-face {
  font-family: 'gotham-thin';
  src: url("../fonts/gotham-thin.eot");
  src: url("../fonts/gotham-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-thin.woff") format("woff"), url("../fonts/gotham-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'gotham-black';
  src: url("../fonts/gotham-black.eot");
  src: url("../fonts/gotham-black.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-black.woff") format("woff"), url("../fonts/gotham-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none; }

.mobile-btn {
  display: none; }

.wrapper-splash {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: table; }

.wrapper {
  width: 100%;
  max-width: 1077px;
  margin: 0 auto;
  display: table;
  position: relative; }

body {
  font-size: 1em;
  font-family: 'gotham', arial, sans-serif;
  height: 100%;
  background: #231F20; }
  body.splash {
    background: #652D90; }
  body.home {
    background: #231F20; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: 0; }
.bx-wrapper .bx-controls-direction a {
  height: 39px;
  width: 20px; }
.bx-wrapper .bx-prev {
  background: url("../images/bx-controls.png") 0 0;
  left: -50px; }
.bx-wrapper .bx-next {
  background: url("../images/bx-controls.png") -20px 0;
  right: -50px; }
  .bx-wrapper .bx-next:hover {
    background: url("../images/bx-controls.png") -20px 0; }

header {
  background: #652D90;
  padding-top: 2.8125em;
  border-bottom: solid 4px #FEDC00; }
  header .header-logo {
    float: left;
    font-family: gotham-black;
    width: 17.4375em;
    text-transform: uppercase;
    text-align: center;
    display: table-row;
    height: 90px; }
    header .header-logo .name {
      font-size: 2.375em;
      display: block;
      margin-top: 10px; }
    header .header-logo .last-name {
      font-size: 2.875em;
      display: block; }
  header .menu {
    float: left;
    margin-left: 6.0625em; }
    header .menu .item {
      float: left;
      text-align: center;
      text-transform: uppercase; }
      header .menu .item a {
        width: 5.625em;
        height: 5.625em;
        display: block;
        color: #000000;
        position: relative; }
        header .menu .item a .item-bg {
          width: 100%;
          height: 100%;
          border-top: solid 3px #000;
          border-left: solid 3px #000;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #FEDC00; }
          header .menu .item a .item-bg .bg {
            background: url("../images/menu-bg.jpg");
            width: 100%;
            height: 100%;
            display: table; }
            header .menu .item a .item-bg .bg.hm {
              background-position: 0 0; }
            header .menu .item a .item-bg .bg.rs {
              background-position: -90px 0; }
            header .menu .item a .item-bg .bg.obr {
              background-position: -180px 0; }
            header .menu .item a .item-bg .bg.pre {
              background-position: -270px 0; }
            header .menu .item a .item-bg .bg.con {
              background-position: -360px 0; }
          header .menu .item a .item-bg span {
            line-height: 20px;
            font-size: 0.875em;
            position: absolute;
            bottom: 3px;
            width: 100%;
            left: 0;
            display: none; }
      header .menu .item:last-child .item-bg {
        border-right: solid 3px #000; }
      header .menu .item.active .item-bg {
        height: 30px; }
      header .menu .item.active .bg {
        display: none !important; }
      header .menu .item.active span {
        display: block !important; }
  header .social-small {
    position: absolute;
    top: 0;
    right: 0; }
    header .social-small li {
      float: left; }
      header .social-small li a {
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 12px;
        background: url("../images/social-icon-small.png") no-repeat; }
        header .social-small li a.fb {
          background-position: 0 0; }
        header .social-small li a.tw {
          background-position: -47px 0; }
        header .social-small li a.ins {
          background-position: -94px 0; }
      header .social-small li:first-child a {
        margin-left: 0; }
  header .lang {
    position: absolute;
    top: 2.5em;
    right: 0;
    text-transform: uppercase; }
    header .lang a {
      color: #FEDC00;
      font-size: 0.875em; }
      header .lang a.active {
        color: #A381BC; }
      header .lang a:hover {
        color: #A381BC; }

.main {
  margin-top: 2.5em; }
  .main .content {
    padding: 1.875em 0; }
    .main .content article {
      background: #FEDC00;
      padding: 1.20em;
      font-size: 0.875em !important;
      width: 18.21429em;
      font-weight: 400; }
      .main .content article h4 {
        font-family: gotham-black;
        margin-bottom: 1.14286em; }
      .main .content article p {
        font-weight: 300;
        letter-spacing: -0.07143em;
        line-height: 1.28571em;
        word-spacing: 0.21429em; }

.home .header-logo {
  background: #FEDC00; }
  .home .header-logo a {
    color: #231F20; }
.home .content {
  background: #FEDC00; }
  .home .content .bx-wrapper {
    max-width: 85% !important; }

.resena {
  background: #58D4C6; }
  .resena .header-logo {
    background: #FEDC00; }
    .resena .header-logo a {
      color: #58D4C6; }
  .resena .content {
    padding: 0;
    height: 41.5em;
    background: url("../images/resena-bg.jpg") #000000 top center no-repeat; }

.obras {
  background: #FF1A00; }
  .obras .header-logo {
    background: #FEDC00; }
    .obras .header-logo a {
      color: #FF1A00; }
  .obras .content {
    padding: 0;
    height: 41.5em;
    background: #231F20; }
    .obras .content .col {
      float: left; }
      .obras .content .col.col-left {
        width: 30%; }
      .obras .content .col.col-right {
        width: 70%; }
  .obras .gallery-menu {
    padding: 1.2em;
    width: 18.21429em;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box; }
    .obras .gallery-menu .gallery-type li {
      float: left;
      line-height: 1em;
      padding: 0.1875rem 0.625rem; }
      .obras .gallery-menu .gallery-type li span {
        font-size: 0.875rem;
        line-height: 1em;
        color: #FEDC00;
        padding: 0.1875rem 0.625rem;
        cursor: pointer; }
        .obras .gallery-menu .gallery-type li span.active, .obras .gallery-menu .gallery-type li span:hover {
          background: #FEDC00;
          color: #000000; }
      .obras .gallery-menu .gallery-type li ul {
        margin-top: 0.3125rem; }
        .obras .gallery-menu .gallery-type li ul > li {
          float: none;
          color: #7B6B13;
          text-align: left;
          font-size: 0.875rem;
          cursor: pointer; }
          .obras .gallery-menu .gallery-type li ul > li:hover, .obras .gallery-menu .gallery-type li ul > li.active {
            background: #7B6B13;
            color: #FEDC00; }
        .obras .gallery-menu .gallery-type li ul.years li {
          text-align: center; }
  .obras .thumb-container {
    clear: both;
    padding: 1em 1.2em;
    width: 18.75rem; }
    .obras .thumb-container .thumb li {
      float: left;
      border: solid 2px #FEDC00;
      margin: 0 0.625rem 0.625rem 0;
      background: #FEDC00;
      cursor: pointer; }
      .obras .thumb-container .thumb li a:hover img, .obras .thumb-container .thumb li a.active img {
        opacity: .6; }
  .obras .bx-viewport {
    margin-top: 3em; }
  .obras .bx-prev {
    background: url("../images/bx-controls.png") 0 -43px;
    left: -35px; }
    .obras .bx-prev:hover {
      background: url("../images/bx-controls.png") 0 -43px; }
  .obras .bx-next {
    background: url("../images/bx-controls.png") -20px -43px;
    right: -35px; }
    .obras .bx-next:hover {
      background: url("../images/bx-controls.png") -20px -43px; }
  .obras .bx-caption {
    top: 0;
    bottom: inherit; }
    .obras .bx-caption span {
      background: #FEDC00;
      color: #000000 !important;
      font-family: gotham;
      font-weight: 300; }

.prensa {
  background: #004BDE; }
  .prensa .header-logo {
    background: #FEDC00; }
    .prensa .header-logo a {
      color: #004BDE; }
  .prensa .content {
    padding: 0;
    background: #231F20; }
    .prensa .content a {
      color: #000000;
      margin-bottom: 0.625rem;
      display: block; }
      .prensa .content a:hover {
        text-decoration: underline; }
    .prensa .content .col {
      float: left; }
      .prensa .content .col.col-left {
        width: 26%;
        max-width: 18.0625rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word; }
      .prensa .content .col.col-right {
        width: 74%; }
    .prensa .content .news .top {
      width: 100%; }
      .prensa .content .news .top div {
        float: left;
        width: 49.5%; }
        .prensa .content .news .top div img {
          width: 100%; }
      .prensa .content .news .top .pic-one {
        margin-right: 1%;
        margin-bottom: 4.1875rem;
        position: relative; }
        .prensa .content .news .top .pic-one:before {
          content: "";
          height: 3.75em;
          background: #7BB748;
          position: absolute;
          left: 0;
          bottom: -67px;
          width: 100%; }
      .prensa .content .news .top .pic-two {
        margin-top: 88px;
        position: relative; }
        .prensa .content .news .top .pic-two:before {
          content: "";
          height: 5.0625em;
          background: #FEDC00;
          position: absolute;
          left: 0;
          top: -88px;
          width: 100%; }
    .prensa .content .news .bottom {
      clear: both;
      margin-top: 7px; }
      .prensa .content .news .bottom .pic-tree {
        width: 70%;
        position: relative; }
        .prensa .content .news .bottom .pic-tree img {
          width: 100%; }
        .prensa .content .news .bottom .pic-tree:before {
          background: none repeat scroll 0 0 #652d90;
          content: "";
          height: 3.75em;
          position: absolute;
          right: -42.9%;
          top: 0;
          width: 41.7%; }

.contacto {
  background: #7BB748; }
  .contacto .header-logo {
    background: #FEDC00; }
    .contacto .header-logo a {
      color: #7BB748; }
  .contacto .content {
    padding: 0;
    height: 41.5em;
    background: #231F20; }
    .contacto .content article {
      width: 100%;
      background: url("../images/contact-bg.jpg") right top no-repeat #FEDC00;
      height: 380px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 1.2em; }
    .contacto .content .contact-main {
      width: 18.3125rem;
      padding-right: 4.3125rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #FEDC00;
      padding-top: 1.2em;
      height: 100%;
      display: table; }
    .contacto .content .social-micro {
      float: right;
      margin-top: 1em;
      width: 90px; }
      .contacto .content .social-micro li {
        float: left; }
        .contacto .content .social-micro li a {
          width: 22px;
          height: 22px;
          display: block;
          margin-left: 12px;
          background: url("../images/social-icon-micro.png") no-repeat; }
          .contacto .content .social-micro li a.fb {
            background-position: 0 0; }
          .contacto .content .social-micro li a.tw {
            background-position: -31px 0; }
          .contacto .content .social-micro li a.ins {
            background-position: -61px 0; }
        .contacto .content .social-micro li:first-child a {
          margin-left: 0; }
    .contacto .content .contact-form {
      margin-top: 4em; }
      .contacto .content .contact-form label {
        text-transform: uppercase; }
      .contacto .content .contact-form input[type='text'] {
        background: none;
        border: none;
        border-bottom: dashed 1px #000000;
        display: block;
        margin-bottom: 8px; }
      .contacto .content .contact-form input[type='submit'] {
        background: none repeat scroll 0 0 #231f20;
        border: medium none;
        color: #fedc00;
        float: right;
        font-size: 12px;
        margin-top: 20px;
        padding: 5px 8px 3px; }

/*# sourceMappingURL=style.css.map */
