/**/
@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes squeeze {
  0% {
    height: 400px;
  }
  100% {
    height: 120px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(120%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-170px);
  }

}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/**/
@-moz-keyframes open {
  0% {
    -moz-transform: scale(1, 0);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}

@-moz-keyframes squeeze {
  0% {
    height: 400px;
  }
  100% {
    height: 120px;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes slideLeft {
  0% {
    -moz-transform: translateX(120%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}

@-moz-keyframes slideRight {
  0% {
    -moz-transform: translateX(-120%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}

@-moz-keyframes moveUp {
  0% {
    -moz-transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(-170px);
  }

}

@-moz-keyframes zoomIn {
  0% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}

/**/
@keyframes open {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes squeeze {
  0% {
    height: 400px;
  }
  100% {
    height: 120px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-170px);
  }

}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}