#blog-header{
  border-bottom-color: $header-border-bottom;
  background: $header-background-color repeat center center;
}
#blog-header .blog-tagline { color: $blog-tagline; }

#blog-main .entry-title,
#blog-main .entry-title a { color: $entry-title; }
#blog-main .tags .icon-tags:before { color: $post-icon-tag}

.btn { 
	color: $pager-color !important;
	background: $pager-background-normal; }
.btn:hover{
    background: $pager-background-hover;
  }	

#blog-sidebar .author-profile { background: $author-profile-background; color: $author-profile-color }
#blog-sidebar .author-img { border: solid 15px $author-img-border; }

#blog-sidebar .category-list .category-title {
  background: $widget-category-background;
 }
#blog-sidebar .category-list ul li a:before{ color: $widget-category-disc; }

#blog-sidebar .tag-cloud .category-title {
  background: $widget-tagcloud-background;}
#blog-sidebar .tag-cloud a {
	color: $widget-tagcloud-color;
}

.error404 .content {
  background: $error-404-background;
	background: -moz-linear-gradient(top, $error-404-background 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $error-404-background), color-stop(100%, white));
	background: -webkit-linear-gradient(top, $error-404-background 0%, white 100%);
	background: -o-linear-gradient(top, $error-404-background 0%, white 100%);
	background: -ms-linear-gradient(top, $error-404-background 0%, white 100%);
	background: linear-gradient(top, $error-404-background 0%, white 100%);
}
.error404 .main .content .text h2:before { color: $error-404-icon }

