@import 'mixin.scss';


@font-face {
  font-family: 'museo-sans-300';
  src: url('../fonts/museosans-300-eot.eot');
  src: url('../fonts/museosans-300-eot.eot?#iefix') format("embedded-opentype"), url('../fonts/museosans-300-woff.woff') format("woff"), url('../fonts/museosans-300-ttf.ttf') format("truetype"), url('../fonts/museosans-300-svg.svg#museo_sans300') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-sans-700';
  src: url('../fonts/museosans-700-eot.eot');
  src: url('../fonts/museosans-700-eot.eot?#iefix') format("embedded-opentype"), url('../fonts/museosans-700-woff.woff') format("woff"), url('../fonts/museosans-700-ttf.ttf') format("truetype"), url('../fonts/museosans-700-svg.svg#museo_sans700') format("svg");
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'TN-icons';
  src: url('../fonts/TN-icons-eot.eot');
  src: url('../fonts/TN-icons-eot.eot?#iefix') format("embedded-opentype"), url('../fonts/TN-icons-woff.woff') format("woff"), url('../fonts/TN-icons-ttf.ttf') format("truetype"), url('../fonts/TN-icons-svg.svg#TN-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-eot.eot');
  src: url('../fonts/opensans-eot.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-woff.woff') format("woff"), url('../fonts/opensans-ttf.ttf') format("truetype"), url('../fonts/opensans-svg.svg#TN-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}

/*--general--*/
body {
  margin: 0;
  font-size: 1em;
  font-family: 'museo-sans-300', arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #ddd;
  }
}

ul, ol {
  padding: 0;
  margin: 0;
}

nav {
  ul, ol {
    list-style: none;
    list-style-image: none;
  }
}

.bgcolor {
  height:100%;
  width:100%;
  position: fixed;
  top: 47px;
  left: 0;
  z-index: 3;
  @include gradient_v(rgba(0,0,0,0.65), rgba(0,0,0,0));
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.fadechange {
  animation: fading 15s infinite;
  -webkit-animation: fading 15s infinite;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #333333;
  top: 47px;
}

@keyframes fading {
  0% { background: #333333; }
  33% { background: #3D9FD4; }
  66% { background: #993333; }
  100% { background: #536e85; }
}

@-webkit-keyframes fading {
  0% { background: #333333; }
  33% { background: #3D9FD4; }
  66% { background: #993333; }
  100% { background: #333333; }
}

/*--layout--*/

.btn{
  font-weight: bold;
  height: 2em;
  line-height: 30px;
  max-width: 90px;
  padding: 0.1em 2em;
  position: relative;
  text-transform: uppercase;
  width: 28%;

  &:before{
    font-family: 'TN-icons';
    font-size: 1.2em;
    position: absolute;
    top: 0;
    line-height: 1.75em;
    text-indent:10px;
    width: 34px;
  }

  &.arrow-right{
    float: right;
    text-indent: -19px;
    &:before {
      border-left: 1px solid #FFFFFF;
      content: "o";
      right: 0;
      text-transform: lowercase !important;
    }
  }

  &.arrow-left{
    float:left;
    text-indent: 19px;
    &:before {
      border-right: 1px solid #FFFFFF;
      content: "a";
      left: 0;
      text-transform: lowercase !important;
    }
  }
}


/*header*/

.wrapper {
  width: 88.59375%;
  margin: 0 auto;
}

#header {
  position: fixed;
  height: 47px;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px #585858 solid;
  background: #2d2d2d;
  z-index: 999;
}

#menu-sections {
  display: block;
  font-size: 16px;
  height: 47px;
  z-index: 999999;
  width: 100%;
  @include box_shadow(0 2px 5px black);
  .wrapper {
    #sections-menu {
      .title-item {
        font-size: .8125em;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        text-decoration: none;
        line-height: 3.53846em;
        height: 3.53846em;
        display: block;
        position: relative;
        padding: 0;
      }
      .sub-menu{
        background: #535353;
        position: absolute;
        width: 100%;
        z-index: 99999;
        left: 0;
        color: white;
        display: none;
        @include box_shadow(1px 6px 4px rgba(0, 0, 0, 0.5));
      }
      .sticky-logo-tn {
        float: left;
        width: 90px;
        position: relative;
        height: 2.875em;
        .logo-tn {
          position: absolute;
          width: 90%;
          left: 0;
          top: 50%;
          height: 38px;
          margin: -19px 0 0 0;
          background: url(../images/main-sprite.png) -430px -132px no-repeat;
          text-indent: -999em;
        }
      }
      #sections-item {
        float: left;
        padding-right: 1.3125em;
        &.has-submenu {
          .title-item {
            padding-left: 3.07692em;
            padding-right: 1.23077em;
            &:before {
              border-bottom: 12px solid #535353;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              content: " ";
              height: 0;
              bottom: 0;
              position: absolute;
              width: 0;
              z-index: 99999;
              left: 50%;
              margin: 0 0 0 -12px;
              display: none;
            }
            &:after {
              width: 19px;
              height: 15px;
              background: url(../images/main-sprite.png) -439px -541px;
              margin: -7.5px 0 0 0;
              left: .69231em;
              top: 50%;
              content: "";
              position: absolute;
            }
          }
          &:hover .title-item:before,
          &:hover .sub-menu {
            display: block;
          }
          .sub-menu {
            .menu-content {
              padding: 1em 0;
              overflow: hidden;
              .block {
                overflow: hidden;
                position: relative;
                height: 100%;
                float: left;
                width: 15.4%;
                padding-left: .5%;
                padding-right: .5%;
                margin: 0;
                position: relative;
                h3 {
                  color: white;
                  font-size: .875em;
                  text-transform: uppercase;
                  font-weight: bold;
                  padding-left: .5em;
                }
                &:before {
                  content: "";
                  position: absolute;
                  border-left: #797979 solid 1px;
                  border-right: #484848 solid 1px;
                  height: 100%;
                  right: 0;
                  top: 0;
                }
                .block-list li {
                  margin-top: .3125em;
                  line-height: 1.4375em;
                  a {
                    font-family: museo-sans-700, arial, sans-serif;
                    display: block;
                    padding: 0 0 0 .53846em;
                    color: #bbb !important;
                    font-size: .8125em;
                    text-transform: uppercase;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &:hover {
                      background: #2d2d2d;
                      @include border_radius(5px);
                      @include background_clip(padding-box);
                    }
                  }
                }
                &.microsites {
                  float: left;
                  padding-bottom: 4.2em;
                  width: 8.25em !important;
                  position: relative;
                  text-transform: uppercase;
                  li {
                    display: block;
                    line-height: 1.1em;
                    margin: .125em 0 0;
                    height: auto;
                    a {
                      border-bottom-left-radius: 5px;
                      border-top-left-radius: 5px;
                      color: white !important;
                      display: block;
                      height: 100%;
                      padding: .4375em .875em .4375em .4375em;
                      text-decoration: none;
                    }
                  }
                  &:before {
                    border: 0;
                    border-right: 1px solid #636363;
                    position: absolute;
                    right: 0;
                    top: -1em;
                    height: 200em;
                    width: 3px;
                    @include gradient_h(transparent, #242424);
                  }
                }
                &.no-right:before {
                  display: none;
                  visibility: hidden;
                }
              }
            }
          }
        }
      }
      .alive {
        display: block;
        float: left;
        text-shadow: 1px 1px 1px #930101;
        color: #fff;
        position: relative;
        @include gradient_v(#e00102, #c00202);
        .title-item {
          padding-left: 3.07692em;
          padding-right: 1.23077em;
          &:before {
            width: 22px;
            height: 22px;
            background: url(../images/main-sprite.png) -499px -315px;
            margin: -11px 0 0 0;
            left: .69231em;
            top: 50%;
            content: "";
            position: absolute;
          }
        }
      }
      .social-menu-item {
        float: right;
        margin: 0;
        display: block;
        .social-item {
          float: left;
        }
        .title-item {
          text-indent: -999em;
          padding: 0 .625em;
        }
        .icon {
          position: absolute;
          background: url(../images/main-sprite.png) no-repeat;
          top: 50%;
          left: 50%;
        }
        .has-border .title-item,
        .right-border .title-item {
          border-right: 1px #000 solid;
        }
        .has-border .title-item,
        .left-border .title-item {
          border-left: 1px #585858 solid;
        }
        #time-item {
          width: 47px;
          overflow: hidden;
          .wheather-content {
            display: inline-block !important;
            padding: .3em .5em 0 0;
          }
          img {
            border: 0;
            background: transparent;
            width: 47px;
            margin: 0 0 0 -23.5px;
            left: 50%;
            position: absolute;
          }
          &.title-item {
            text-indent: 0 !important;
            padding: 0 .5em 0 9em !important;
          }
        }
        #traffic-item {
          .title-item {
            width: 14px;
          }
          .icon {
            background-position: -164px -450px;
            height: 24px;
            width: 14px;
            margin: -12px 0 0 -7px;
          }
        }
        #search-item {
          display: block;
          &:hover .title-item:before,
          &:hover .sub-menu {
            display: block;
          }
          .title-item {
            width: 24px;
            &:before {
              border-bottom: 12px solid #535353;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              content: " ";
              height: 0;
              bottom: 0;
              position: absolute;
              width: 0;
              z-index: 99999;
              left: 50%;
              margin: 0 0 0 -12px;
              display: none;
            }
          }
          .icon {
            background-position: -186px -453px;
            height: 21px;
            width: 24px;
            margin: -10.5px 0 0 -12px;
          }
          .menu-content {
            padding: 1.875em 0;
            overflow: hidden;
            width: 80%;
          }
          form {
            width: 100%;
            float: right;
            .input-text {
              font-family: 'museo-sans-700', arial, sans-serif;
              float: left;
              width: 80% !important;
              height: 1.75em;
              padding: 0 0 0 10px;
              border: 1px #555 solid;
              font-size: 1em;
              @include border_radius(5px);
              @include background_clip(padding-box);
              @include gradient_v (#e8e8e8, #ffffff);
            }
            .button {
              &.red {
                font-family: 'museo-sans-700', arial, sans-serif;
                text-transform: uppercase;
                border: 1px #df0202 solid;
                color: white !important;
                width: 17%;
                height: 2.23077em;
                padding: 0 1%;
                margin-left: 1%;
                line-height: 2.30769em;
                text-shadow: 1px 1px 1px #930101;
                background: #e00102;
                @include box_shadow (0 3px 3px rgba(black, .5));
                @include gradient_v (#e00102, #c00202);
                @include border_radius (3px);
                &:hover {
                  border: 1px #8c0101 solid;
                  background: #c00202;
                  @include gradient_v (#c00202, #8c0101);
                }
              }
            }
          }
        }
        #user-item {
          &.title-item,
          .title-item {
            width: 1.6875em;
          }
          .small-avatar {
            border: 0;
            background: transparent;
            height: 1.6875em;
            width: 1.6875em;
            margin: -0.84375em 0 0 -0.84375em;
            top: 50%;
            left: 50%;
            position: absolute;
          }
        }
      }
    }
  }
}

#blog-header{
  padding: (27em/16) 0 0 ;
  position: relative;
  margin-top: 48px;
  border-bottom: 5px solid #4D4D4D;
  min-height: (88em/16);

  .blog-tagline{
    text-shadow: 1px 1px 3px #222;
  }

  .blog-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    top: 0;
    
  }

  .social{
    right: 6%;
    width: 45%;
    margin-top: 1em;
    position: absolute;
    z-index: 2;
    color:white;


    li{
      float: right;
      margin-left:6.5%;

      &:last-child{
        margin-left:0;
      }

      input{
        background: rgba(255,255,255,0.8);
        @include border_radius(5px);
        font-size: (14em/16);
        font-family: museo-sans-300,arial,sans-serif;
        width: (180em/16);
        height: (36em/16);
        border:none;
        padding: 0 0.75em;
        color: #4a4a4a;

        &:focus{
          background: #ffffff;
          color: #000000;
          outline: 0;
        }

        &::-webkit-input-placeholder { /* WebKit browsers */
          color:#ffffff;
        }

      }
    }
  }

  .header-content{
    float: left;
    overflow: hidden;
    position: absolute;
    z-index: 99;

    .blog-title a{
      font-family: 'museo-sans-700', arial, sans-serif;
      font-size: (36em/16);
      text-transform: uppercase;
      color:white;
      text-shadow: 1px 1px 2px rgba(white,.4);

      &:hover{
        color: #ffffff;
      }
    }
  }

  .blog-logo{
    width: (332em/16);
    height: 100%;
    left: 36%;
    bottom:0;
    background-position: bottom right;
    position: absolute;
    background-repeat: no-repeat;
  }
}



/*content*/
#container{
  position: relative;
}

#blog-main{
  padding-top: 1.5em;
  float: left;
  width: 62%;

  .post-title{
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
  }




  .entry-title{
    font-family: 'museo-sans-700', arial, sans-serif;
    font-size: (60em/16);
  }

  .footer-flow{
    color: #666666;
    margin-top: .5em;

    .vcard{
      float: left;
    }
    .fn {
      border-right: 1px solid #666666;
      padding-right: (8em/16);
      color: #E20038;
    }
    time {
      padding-left: (8em/16);

      span {
        border-left: 1px solid #666666;
        padding-left: (8em/16);
      }
    }
  }

  .entry-content{
    margin-top:2em;
    font-family: 'Open Sans', sans-serif;


    img:not(.jwlogo) {
    margin-bottom: .5em;
    width: 100%;
    height: auto;
    margin: 0 auto .5em;
    }
    p {
      margin-bottom: (20em/16);
    }
    a {
      color: #E20038;
      &:hover {
        text-decoration: underline;
      }
    }

    .vvqbox{
      width: 100% !important;
      height: auto !important;
    }

    ol{
      list-style:decimal !important;
      margin: 1em 0 !important;
      padding-left: (40em/16) !important;

      li{
        margin-bottom: 1em !important;
      }
    }
    ul{
      list-style:inherit !important;
      margin: 1em 0 !important;
      padding-left: (40em/16) !important;

      li{
        margin-bottom: 1em !important;
      }
    }

    h1 { font-size: 2em !important; }
    h2 { font-size: 1.5em !important; }
    h3 { font-size: 1.17em !important; }
    h5 { font-size: .83em !important; }
    h6 { font-size: .75em !important; }

    p{
      margin: 1em 0 !important;
    }

  }

  .tags{
    line-height: 3em;
    color: #B3B3B3;
    background: #F2F2F2;
    position: relative;

    .icon-tags{
      &:before{
        content: "8";
        font-family: 'TN-icons';
        font-size: 2.5em;
        display: block;
        color: #00ADFA;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    h2 {
      line-height: 2em;
      padding: 0.5em 3em;
      width: auto;
      a{
        color: #B3B3B3;
        &:hover {
          color: #E20038;
        }
      }
    }

  }

  .share{
    margin: .5em 0;
    line-height: 3em;
    .icon{
      width:32px ;
      height: 32px;
      position: relative;
      display: table;
      float: left;
      margin-right: 1em;


      &:before{
        position: absolute;
        font-family: 'TN-icons';
        top: -7px;
        left: 0;
        font-size: 2.1em;
        color: #CCCCCC;
      }
      &:hover {
        &:before {
          color: #999;
        }
      }

      &.tw{
        &:before{
          content: "T";
        }
      }
      &.fb{
        &:before{
          content: "F";
        }
      }
      &.gp{
        &:before{
          content: "G";
        }
      }
    }

    .post-extras{
      float: right;

      li{
        float: left;
        margin-left: .3em;

        &:first-child{
          margin-left: 0;
        }

        a{
          color: #666666;
          &:hover {
            color: #E20038;
          }
        }
      }
    }
  }

  .pager{
    margin: 2em auto;
    
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

}

#blog-sidebar{
  background: none repeat scroll 0 0 #F2F2F2;
  border-left: 5px solid #CCCCCC;
  display: table;
  float: right;
  height: 100%;
  padding: 7em 5% 0 2.5%;
  width: 29%;

  a{
    color: #333333;
    &:hover {
      color: #E20038;
    }
  }

  section{
    margin-top: 1.5em;
    background: white;
  }

  .category-title{
    line-height: (50em/16);
    position: relative;
    font-family: 'museo-sans-700', arial, sans-serif;
    padding: 0px 1.5em;
    color: #ffffff;

    &:before{
      font-family: TN-icons;
      right: .5em;
      position: absolute;
      font-size: 2em;
      opacity: .6;
    }
  }


  .author-profile{
    position: relative;
    padding: 1.5em;

    .author-img {
      background-clip: padding-box;
      border-radius: 200px 200px 200px 200px;
      height: 0;
      right: (27em/16);
      top: (-74em/16);
      overflow: hidden;
      padding-bottom: 7.6875em;
      position: absolute;
      width: 7.6875em;

      img{
        width: 100%;
        height: auto;
        border-radius: 200px 200px 200px 200px;
      }

    }

    .author-content{
      height: 60px;
      display: table-cell;
      vertical-align: middle;
    }

    .author-name{
      font-family: 'museo-sans-700', arial, sans-serif;
      text-transform: uppercase;
      font-size: (24em/16);
      width: 54%;

    }
    .author-description{
      font-size: (14em/16);
      margin-top: .5em;
    }

  }

  .fb-like-button{
    height: 20px;
    margin-top: 1.5em;
    iframe{
      width: 100%;

    }
  }


  .category-list{
    ul{
      li a {
        border-bottom: solid 1px #CCCCCC;
        line-height: 3em;
        position: relative;
        margin: 0 1em;
        display: block;
        width: auto;
        height: 100%;

        &:last-child{
          border: none;
        }

        &:before{
          font-family: TN-icons;
          content: ">";
          position: absolute;
          right: 0;
          font-size: 1.2em;
        }
        &:hover {
          &:before {
            color: #E20038;
          }
        } 
      }
    }
  }

  .tag-cloud{
    .category-title{
      margin-bottom:1em ;
      &:before {
        content: "8";
      }
    }
    
    .tag-content{
      padding: 0 16px 16px 16px;
    }

    h3 {
      display: inline;
      font-family: 'museo-sans-700', arial, sans-serif;
    }
  }

  .last-news{
    ul{
      li{
        border-bottom: solid 1px #CCCCCC;
        padding: 1em 0;
        position: relative;
        margin: 0 1em;

        &:last-child{
          border: none
        }
      }
    }
  }

  .last-post{
    ul{
      li{
        border-bottom: solid 1px #CCCCCC;
        padding: 1em 0;
        position: relative;
        margin: 0 1em;

        &:last-child{
          border: none
        }
      }
    }
  }

  .fb-activity{
    margin-bottom: 1.5em;
    iframe{
      width: 100%;
      border: none;
    }
  }
  .contact-form{
    background:#603814 ;
    .contactform_error{
      color: ffffff;
      background: #DF0001;
      margin: .6em 1em;
      padding: .5em;
      text-align: center;
    }

    .contactform_respons{
      color: ffffff;
      background: #009900;
      margin: .6em 1em;
      padding: .5em;
      text-align: center;
    }

    .cuf_field,
    .cuf_textarea{
      border: none;
      background:#ffffff;
      color: #000000;
      font-weight: normal;
      font-family: "museo-sans-300",arial,sans-serif;
      margin-bottom: 10px;

      &:focus{
        background: #ffffff !important;
        color: #000000;
      }

    }
    .cuf_submit{
      float: right;
      background:#FFC602;
      border: none;
      border-radius: 0px;
      text-transform: uppercase;
      color:#603814;
      width: 60%;
      height: 30px;
      line-height: 30px;
    }
    .cuf_label{
      color: #FFC602;
    }
    #cuf_captcha{
      text-align: center;
      border-radius: 0;
      border: none;
      line-height: 28px;
    }

    form{
      border: none;
      border-radius: 0;
      box-shadow: none;
      clear: both;
      margin:0 1em;
      padding: .5em 0;
      width: auto;
    }
  }
}

.featured {
  background: #fff;
  color: #333;
  height: 10em;
  margin: 1.5em 0 0;
  overflow: hidden;
  .text {
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 100;
    top: 0;
    padding-left: 4%;
    padding-right: 300px;
    h3 {
      font-family: 'museo-sans-700', arial, sans-serif;
      text-transform: uppercase;
      color: #E00102;
      margin: 0;
    }
    h4 {
      color: #000;
      margin: 0;
    }
    p {
      margin: .5em 0 0;
    }
  }
  .image {
    width: 100%;
    height: 150px;
    position: relative;
    top: -150px;
    z-index: 90;
    text-align: right;
    &:before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 150px;
      position: absolute;
      top: 0;
      right: 351px;
      z-index: 10;
      @include gradient_h (white, transparent);
    }
    img {
      position: relative;
      z-index: 9;
    }
  }
}


.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*---404---*/
.error404 {
  .main {
    padding: 1.5em 0;
    float: left;
    width: 63%;
    
    .content {
      height: 270px;
      padding: 2em 0;

      .text {
        width: 520px;
        margin: auto;
        color: #fff;
        text-transform: uppercase;
        h2 {
          font-size: 3.25em;
          span {
            font-family: 'museo-sans-700', arial, sans-serif;
          }
          &:before {
            content: "¡";
            font-family: 'TN-icons';
            display: block;
            float: left;
            font-size: 1.5em;
            margin: .1em .2em 0 0;
          }
        }
        p {
          font-size: 2em;
          color: rgba(255,255,255,.5);
        }
      }
    }
  }
}

/** footer */
#footer{
  background: #2D2D2D;
  padding-top:(44em/16);

  .wrapper{
    position: relative;
  }

  .logo-tn {
    width: 80px;
    left: 0;
    height: 38px;
    background: url(../images/main-sprite.png) -430px -132px no-repeat;
    text-indent: -999em;
  }
  .blog-tn {
    width: 92px;
    left: 5.5em;
    height: 44px;
    top: (-2em/16);
    position: absolute;
    background: url(../images/main-sprite.png)  0 -691px no-repeat;
    text-indent: -999em;
  }

  .more-links{

    margin: 1.5em 0;


    .block {
      float: left;
      margin: 0 4% 0 0;
      position: relative;
      width: 198px;

      &:last-child{
        margin-right: 0;
      }

      .block-list {
        .tag-line{
          color: #8C8C8C;
          margin-bottom: (2em/16);
        }
      }
    }
  }

  .legal{
    background: #1A1A1A;
    color: #FFFFFF;
    padding: 2em 0;
    p {
      font-size: 0.75em;
      font-weight: normal;
      line-height: 1.4em;
      margin: 0 auto;
      text-align: center;
    }
  }

}

.shares {
  font-size: .8em;
  line-height: 2em;
  cursor: pointer;
  display: block;
  &:hover {
      color: #BBB;
    .share{
      display: block;
    }
  }
  
  .icon-share:before,
  .icon-rss:before {
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
    font-family: 'TN-icons';
    display: block;
    float: left;
    margin-right: .3em;
  }
  .icon-share:before {
    content: "l";
    font-size: 2em;
  }
  .icon-rss:before {
    content: "5";
    font-size: 1.75em;
  }
  .text {
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
  }

  .share {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    font-size: 1.13043em;
    padding: 0 .5em;
    position: absolute;
    display: none;
    width: 8em;
    z-index: 100;
    right: 0;
    top: (30em/16);
    @include border_radius (3px);
    @include box_shadow (0 0 3px #A9A9A9);
  }
  &:hover .share {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
  }
  .share {
    .share-item {
      .button {
        text-align: left;
        font-family: 'museo-sans-700', arial, sans-serif;
        width: 100%;
        border-left: 1px solid #C7C7C7;
        border-right: 1px solid #C7C7C7;
        color: #4C4C4C;
        cursor: pointer;
        padding: .2em 0;
        margin: .7em 0;
        @include gradient_cross_v (white, #ededed);
        @include border_radius (5px);
        @include box_shadow (0 1px 4px #A9A9A9);
        &:hover {
          color: black !important;
          background: white;
          @include gradient_cross_v (white, #dfdfdf);
        }
      }
      &:before {
        font-family: 'TN-icons';
        color: #ccc;
        font-size: 1.5em;
        display: block;
        float: left;
        margin-right: .3em;
        padding: .2em;
      }
      &.tw:before {
        content: "t";
        margin-top: 9px;
      }
      &.fb:before {
        content: "f";
      }
      &.gp:before {
        content: "g";
      }
    }
  }
}

/** Themes */
.default-theme{
  position: relative;
  #blog-sidebar{

    .category-list{
      .category-title{
        &:before{
          content: "N";
        }
      }
    }

    .contact-form{
      .category-title{
        background:#FFC602;
        color: #603814;
        &:before{
          content: "M";
          color: #FFE483 !important;
        }
      }
    }

    .last-news{
      .category-title{
        background:#2D2D2D;
        &:before{
          content: "U";
        }
      }

      ul{
        li{
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .last-post{
      .category-title{
        background:#CCCCCC;
        &:before{
          content: "y";
        }
      }

      ul{
        li{
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .fb-activity{
      .category-title{
        &:before{
          content: "U";
        }
      }
    }
  }
}

#blog-sidebar {
  color: #ffffff;
  
  .category-title {
	  color: #ffffff;
  }
	
  .fb-activity .category-title {
    color: #ffffff;
    background: #D80202;
  }	  
}
  
._4s7c{
  border: none;
}

.vvqbox{
  display: table;
}

.jwlogo{
  display: none;
}

a[href|='http://www.tnylagente.com.ar']{
  color: #d54101 !important;
}

a[href|='https://github.com/orgs/TodoNoticias/'],a[href|='http://interactivo.tn.com.ar/']{
  color: #00adfa !important;

  &:hover{
    text-decoration: underline;
  }

}

.vvqbox {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.vvqbox iframe,
.vvqbox object,
.vvqbox embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


